<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--form表单最关键的两个属性action和method-->
<!--name后台怎么去接？-->
<!--怎样在后台，把这些值接过来？-->
<form action="" method="post">
    <label for="username_id">用户名：</label><input type="text" id="username_id" placeholder="用户名" name="username">
    <label for="password_id">密码：</label><input type="password" id="password_id" placeholder="密码" name="password">
    <br><br>
    <input type="radio" id="gender_id1" name="gender" value="男"><label for="gender_id1">男性</label>
    <input type="radio" id="gender_id2" name="gender" value="女"><label for="gender_id2">女性</label>
    <input type="radio" id="gender_id3" name="gender" value="中"><label for="gender_id3">中性</label>
    <br><br>
    <input type="checkbox" id="check_id1" name="interest" value="read"><label for="check_id1">爱阅读</label>
    <input type="checkbox" id="check_id2" name="interest" value="study"><label for="check_id2">爱学习</label>
    <input type="checkbox" id="check_id3" name="interest" value="sport"><label for="check_id3">爱运动</label>
    <input type="checkbox" id="check_id4" name="interest" value="beautiful"><label for="check_id4">爱美</label>
    <br><br>
    <input type="submit">
</form>
</body>
</html>